<div class="row">
    <div class="col-lg-4 ms-auto">
        <p class="lead"> <strong>Witaj w 4System- </strong> Twoim kompleksowym rozwiązaniu do efektywnego zarządzania
            danymi! Nasza innowacyjna platforma
            umożliwia łatwe zbieranie informacji od użytkowników w formatach XML i JSON, zapewniając jednocześnie
            bezpieczne
            przesyłanie ich na nasz zaawansowany serwer MySQL.</p>
    </div>
    <div class="col-lg-4 me-auto">
        <p class="lead">DLACZEGO WYBRAĆ 4SYSTEM?</p>
        <ul>
            <li><strong>Prosta Integracja: </strong>Dzięki intuicyjnemu interfejsowi możesz szybko skonfigurować
                formularze do zbierania danych w preferowanym formacie.</li>
            <li><strong>Wsparcie dla XML/JSON:</strong>Niezależnie od tego, czy preferujesz XML czy JSON, 4System
                obsłuży Twoje dane, umożliwiając płynne korzystanie z różnych
                formatów.</li>
        </ul>
    </div>
</div>